.root {
  width: 640px;
  margin: 0 auto;
  padding: 16px;
}

.main-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  margin: 0 40px 16px 40px;
  font-size: 13px;
  line-height: 16px;
  padding: 4px;
}

.date {
  width: 80px;
  font-size: 16px;
  letter-spacing: 0.4em;
  font-weight: bold;
  text-align: right;
  margin-right: 40px;
}

.text {
  color: #555;
}
