.root {
  margin: 0 auto;
  padding: 16px;
}

.block {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.logo {
  height: 40px;
  width: 130px;
}

.main-title {
  font-size: 20px;
  margin: 20px 0;
}

.info-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.basic-info {
  display: flex;
  margin-right: 20px;
  flex: 1;

  .thumb {
    width: 120px;
    height: 120px;
    margin-right: 40px;
	border-radius: 5px;
	overflow: hidden;
	background: #eee;
	img{
		width: 100%;
	}
  }

  .info {
    width: 200px;
    padding: 0 20px;
  }

  .info-item {
    margin-bottom: 20px;
  }

  .bold {
    font-weight: bold;
    font-size: 17px;
  }
}

.bg-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-img-cover {
  width: 100%;
  height: 100%;
}

.video {
  width: 620px;
  iframe {
    display: block;
    float: right;
    margin: 0 auto;
  }
}

.ability {
  display: flex;
  flex-wrap: wrap;
}

.attr {
  display: block;
  width: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  margin: 10px;
  .name {
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    background-color: #fafafa;
    color: #555;
  }
  .val {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
  }
}
