.root {
  padding: 8px 16px;
  display: flex;
  line-height: 30px;
  background-color: #1f3c71;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.logout-btn {
  color: #cfdbf2;
  cursor: pointer;
}
