.root {
  position: relative;
  width: 1334px;
  height: 600px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.position-wrap {
  position: absolute;
  display: block;
  width: 150px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px;
  z-index: 10;
  .position {
    font-weight: bold;
  }
  .thumb {
    margin: 5px auto;
    width: 90px;
    height: 90px;
    background-color: #555;
    border-radius: 10px;
  }
  img {
    width: 90px;
    height: 90px;
  }
  .player-selector {
    width: 100%;
  }
}
