.root {
  width: 640px;
  margin: 0 auto;
  padding: 16px;
}

.name {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fafafa;
}

.formula {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fafafa;
  .fspace{
    padding: 10px
  }
}


