.root {
  width: 100%;
  min-height: 100vh;
}

.loader {
  position: absolute;
}

.abs-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.bg {
  background-image: url('https://imagecomposer.nfl.com/?l=http://static.nfl.com/static/content/public/photo/2017/09/24/0ap3000000849736.jpg&f=jpg&w=768&c=90');
  background-size: cover;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.content {
  margin: auto;
  width: 480px;
  height: 360px;
  max-height: 100vh;
}

.main-title {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 32px;
  font-weight: bold;
}
.title {
  width: 100%;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.box {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  label {
    display: block;
    margin-bottom: 16px;
  }
}

.functio-bar {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.oauth-btn {
  margin-top: 20px;
}

.logo {
  position: absolute;
  left: 1000;
}
