.position-filter {
  margin-bottom: 20px;
}

.item {
  font-size: 14px;
}

.position-btn-wrap {
  display: flex;
  padding: 10px 0;
}

.position-btn {
  margin-right: 20px;
}

.name {
  width: 100%;
  flex: 1;
  margin-right: 20px;
}
.position {
  width: 60px;
}

.table-header {
  color: #555;

  .sort-indicator {
    position: relative;
    top: 4px;
    margin-left: 4px;
    width: 10px;
  }
}
