.root {
  width: 640px;
  margin: 0 auto;
  padding: 16px;
}

.item {
  font-size: 14px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}

.name {
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
}
.info-wrap {
  background-color: #fff;
  padding: 10px;
  display: flex;
}

.info-title {
  flex: 1;
}

.info-content {
  flex: 1;
  text-align: right;
}
.input-wrap {
  padding: 5px;
}

.function-bar {
  background-color: #1f3c71;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .btn {
    margin-right: 10px;
  }
  .left-bar {
    display: flex;
    flex: 1;
  }
}
