.root {
  padding: 16px;
}

.run-btn {
  margin: 20px auto;
  width: 400px;
  padding: 20px;
}

.standings {
  width: 320px;
  padding: 9px;
  font-size: 14px;
  .team {
    text-align: left;
  }
  .win {
    width: 80px;
    flex: inherit;
  }
  .lose {
    width: 80px;
    flex: inherit;
  }
}

.block {
  display: flex;
}

.schedule-wrap {
  padding: 10px;
  flex: 1;
}

.schedule {
}

.teams-info {
  width: 100%;
  display: flex;
  padding: 9px;
  font-size: 14px;
  flex-wrap: wrap;
}

.teams-table {
  margin-right: 20px;
  width: 320px;
}

.team-info {
  .name {
    text-align: left;
  }
  .position {
    text-align: left;
    width: 100px;
    flex: inherit;
  }
}

.team-owner {
  padding: 10px 0;
  font-weight: bold;
  font-size: 12px;
}
