:global {
  .component-btn {
    display: flex;
    padding: 8px 16px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 100%;
    text-decoration: none;
    line-height: 1em;
    &.primary {
      border: solid 0.063rem #2c2c2c;
      background-color: #fff;
      color: #2c2c2c;
      &:hover {
        color: #0097ff;
        border-color: #0097ff;
        .icon {
          fill: #0097ff;
        }
      }
      &:active {
        color: #007eff;
        border-color: #007eff;
        .icon {
          fill: #007eff;
        }
      }
      &.disabled {
        color: rgba(44, 44, 44, 0.5);
        border-color: rgba(44, 44, 44, 0.5);
        cursor: default;
        .icon {
          fill: rgba(44, 44, 44, 0.5);
        }
      }
      .icon {
        fill: inherit;
        width: 1rem;
        height: 1rem;
        margin-right: 0.75rem;
      }
    }
    &.secondary {
      border: solid 0.063rem #41a9ff;
      background-color: #41a9ff;
      color: #fff;
      &:hover {
        border-color: #0097ff;
        background-color: #0097ff;
      }
      &:active {
        border-color: #007eff;
        background-color: #007eff;
      }
      &.disabled {
        border-color: rgba(65, 168, 255, 0.5);
        background-color: rgba(65, 168, 255, 0.5);
      }
      .icon {
        fill: #fff;
        width: 1rem;
        height: 1rem;
        margin-right: 0.75rem;
      }
    }
    &.danger {
      border: solid 0.063rem #ff4164;
      background-color: #ff4164;
      color: #fff;
      &:hover {
        border-color: #ee4164;
        background-color: #ee4164;
      }
      &:active {
        border-color: #dd4164;
        background-color: #dd4164;
      }
      &.disabled {
        opacity: 0.5;
      }
      .icon {
        fill: #fff;
        width: 1rem;
        height: 1rem;
        margin-right: 0.75rem;
      }
    }
  }
}
